
.open-sans-normal {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "width" 100;
}

/* shared styles */

.text-primary{
  color: #FD6E0A;
}

.dark-2{
  color: #474747;
}

.bg-color{
  color:#FFF8F3;
}

.btn-primary{
  background-color: #FD6E0A;
  border: none;
  color: #ffffff;
  font-size: 20px;
  padding: 18px 35px;
  border-radius: 4px;
}

.header {
  background-image: url(../images/developer.png), url(images/header_bg.png) ;
  background-repeat: no-repeat;
  background-position: top left, bottom right;
}





/* nav-style */

.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px 200px;
}

.navbar ul{
    display: flex;
    align-items: center;
}

.navbar ul li{
  list-style: none;
  margin-right: 50px;
}

.navbar ul li a{
  text-decoration: none;
  font-size: 20px;
}


.nav-title{
  font-size: 45px;
  font-weight: bolder;
  color: #181818;
}
/* nav-styles ends */
/* Banner styles */

/* Banner contains */
.banner-intro{
  font-size: 45px;
}

.banner-heading{
  font-size: 85px;
  font-weight: bold;
}

.banner-des{
  font-size: 18px;
  line-height: 30px;
}

.banner-pfp{
  width: 580px;
}
/* banner contain ends */

/* banner alignments */

.banner{
  display: flex;
  justify-content: space-between;
  margin:0px 40px 0 200px;
}

.banner-contain{
  
  max-width:585px;
}


/* main body section styles and alignment */

main section{
  margin-top: 200px;
  margin-bottom: 200px;
}

main{
  max-width: 1125px;
  margin: 0 auto;
}

.section-title{
  font-size: 35px;
  font-weight: bold;
  color: #181818;
}

.section-des{
  font-size: 18px;
  color:#757575;
}

.section {
  border-radius: 10px;
  border: 2px solid #181818;
  padding: 20px 150px;
  text-align: center;
  margin: 50px;
}


.item-title{
  color:#757575;
}
.item-des{
  color:#474747;
  font-size: 20px;
  font-weight: 600;
}

.item-des{
  gap: 30px;
}


.section-items{
  display: flex;
  justify-content:space-around;

}

/* second section styles */

.skills{
  text-align: center;
}

.skills p{
  font-size: 18px;
  color: #757575;
}

.skills h3{
  font-size: 35px;
  font-weight: bold;
  color: #181818;
}


.skill-container{
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  margin-bottom: 130px;
  gap: 25px;
}

.skill-sets{
  padding: 30px;
  border-radius: 5px solid;
  box-shadow: 0 4px 50px 0;
}

.skill-sets h4 p{
  text-align: left;
}


/* Page mid section resume */

.resume-title{
  font-size: 35px;
  font-weight: bold;
  color: #181818;
}

.resume-column-title{
  font-size: 30px;
  font-weight: bold;
  color: #474747;
}

.exp-title{
  font-size: 25px;
  font-weight: bold;
  color: #474747;
  margin-bottom: 10px;
  margin-top: 30px;
}

.exp-subtitle{
  font-size: 20px;
  font-weight: 700;
  color: #757575;
  margin-bottom: 30px;
}

.exp-des{
  font-size: 16px;
  color: #757575;
}

/* alignment part */

.resume-container{
  display: flex;
  gap:45px;
}

.resume hr{
  margin: top 30px bottom 30px;
}

.download-cv{
  text-align: center;
  padding: 50px 0;
}


.btn-2{
  background-color: #FD6E0A;
  border: none;
  color: #ffffff;
  font-size: 20px;
  padding: 18px 35px;
  border-radius: 4px;
  
}

/* This is footer section */

.footer-col-section{
  font-size: 35px;
  font-weight: bold;
  color: #181818;
}

.footer-des{
  font-size: 16px;
  color: #757575;
}


footer{
  padding: 130px 230px;
  display: flex;
  gap: 100px;
}

.footer-column{
  width: 50%;
}

footer input[type="text"], input[type="email"], footer textarea{
  height: 64px;
  border-radius: 5px;
  border: none;
  background: white;
  display: block;
  width: 100%;
  padding: 10px 20px;
  margin-bottom: 24px;
}

.btn-footer{
  background-color: #FD6E0A;
  border: none;
  color: #ffffff;
  font-size: 15px;
  padding: 10px 45px;
  border-radius: 4px;
}

